* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px 150px;
}

.navbar-photo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar-photo h1 {
    font-size: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu ul {
    display: flex;
    gap: 80px;
}

.navbar-menu ul>li {
    list-style: none;
    font-size: 25px;
}

.section-one {
    height: 700px;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shades {
    color: aliceblue;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    gap: 30px;
}

.box-container {
    background-color: #FFFFFF4D;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 20px 0;

}

.dropdown {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 4px 5px;
    color: #13131880;

}

.something::placeholder {
    color: #13131880;
}

.section-one-button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 4px 5px;
    background-color: orangered;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.section-two{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.section-two-text{
  line-height: 2;
}
.section-two-button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 4px 5px;
    background-color: orangered;
    color: aliceblue;
    margin-top: 50px;
}
.section-three-text{
    text-align: center;
    padding: 0 370px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.8;
}
.section-three-image-one{
margin-top: 50px;      
    display: flex;
    justify-content: space-between;
}

.section-three-image-two{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.section-three-image-three{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    }

.section-four-text{

    text-align: center;
    padding: 0 330px;
}
.section-four-container{
    margin-top: 50px;
}
.two-container{
    display: flex;
    justify-content: space-between;
}
.section-four-container-one{
    background-color:linear-gradient(0deg, rgba(251, 181, 99, 0.2), rgba(251, 181, 99, 0.2)),
    linear-gradient(0deg, rgba(251, 181, 99, 0.05), rgba(251, 181, 99, 0.05));;
    border:1px solid #FBB56333;
    width: 600px;
    height: 360px;
    border-radius: 20px;   
    line-height: 2;
    padding:80px;
    
}

.section-four-container-two{
    background-color:linear-gradient(0deg, rgba(41, 206, 246, 0.2), rgba(41, 206, 246, 0.2)),
    linear-gradient(0deg, rgba(41, 206, 246, 0.05), rgba(41, 206, 246, 0.05));;
    border:1px solid #29CEF633;
    width: 600px;
    height: 360px;   
    border-radius: 20px;
    line-height: 2;
    padding:80px;
}

.section-four-container-three {
    background-color: linear-gradient(0deg, rgba(251, 181, 99, 0.2), rgba(251, 181, 99, 0.2)),
                      linear-gradient(0deg, rgba(251, 181, 99, 0.05), rgba(251, 181, 99, 0.05));
    border: 1px solid #FBB56333;
    width: 600px;
    height: 360px;
    border-radius: 20px;
    margin: 0 auto; 
    margin-top: 30px;
    line-height: 2;
    padding:80px;
}

.section-five-text{
    text-align: center;
    padding: 50px 400px;
}
.section-five-one{
background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
height: 500px;
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:left;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    padding: 5px;
}
.section-five-two{
    background: url(./B9A2-Hero-Travel-main/Images/Group\ 40.png);
    height: 500px;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content:right;
        align-items: center;
        border-radius: 20px;
        margin-top: 30px;
        padding: 50px;
    }
    .section-five-three{
        background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
        height: 500px;
        background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: left;
            align-items: center;
            border-radius: 20px;
            margin-top: 30px;
            padding: 50px;
        }

        .section-five-one-container {
            width: 579px;
            height: 389px;
            border-radius: 16px;
            border: 2px solid #FFFFFF;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
            line-height: 2;
            padding: 50px 30px 30px 30px;
        }
        .section-five-one-container-logos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }


.section-five-button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 4px 5px;
    background-color: orangered;
    color: aliceblue;
    font-size: 20px;
    margin-top: 50px;
}

.section-six{
    display: flex;
}
.section-six-text{
    font-size: 18px;
    line-height: 2;
    padding-right: 100px;
}
.section-six-text h1{
    font-size: 45px;
    line-height: 1.5;

}
.section-six-image{
    width: 100%;
    height: auto;
}






@media only screen and (min-width: 992px) {


    .container {
        padding: 30px 60px;
    }


    .shades {
        height: 90%;
        width: 60%;
        font-size: 30px;
        gap: 25px;
    }


    .box-container {
        background-color: #FFFFFF4D;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-radius: 10px;
        padding: 15px 10px;
        gap: 15px;
    
    }


    .dropdown {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 4px 5px;
        color: #13131880;
    
    }
    
    .section-one-button {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 4px 5px;
        background-color: orangered;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}








@media only screen and (max-width:600px) {
    .container {
        padding: 5px 30px;
    }

    .navbar-photo {
        gap: 10px;

    }

    .navbar-photo h1 {
        font-size: 30px;
    }

    .navbar-menu ul {
        display: none;
    }


    .section-one {
        height: 550px;
        
    }

    .shades {
        width: 90%;
        font-size: 20px;
        gap: 5px;
    }


    .box-container {
        width: 98%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .dropdown {
        width: 260px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 4px 5px;
        color: #13131880;
    
    }

    .section-one-button {
        width: 260px;

        
    }


    .section-two{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 70px;
    }
    
    .section-two-text{
      line-height: 2;
    }
    .section-two-button{
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 4px 5px;
        background-color: orangered;
        color: aliceblue;
        margin-top: 50px;
    }
    .section-two-image img{
        width: 100%;
    }

    .section-two-image{
        width: 100%;
    }


    .section-three-text{
        padding: 0 4px;
    }
    .section-three-image-one{
    margin-top: 15px;
        flex-direction: column;
        gap: 15px;
    }
    
    .section-three-image-two{
        margin-top: 15px;
        flex-direction: column;
        gap: 15px;
    }
    .section-three-image-three{
        margin-top: 15px;
        gap: 15px;
        flex-direction: column;
    }
    .section-three-image img{
        height: 200px;
        width: 100%;

    }

    .section-four{
        margin-top: 20px;
    }
    .section-four-text{

        text-align: center;
        padding: 0 30px;
    }
    .section-four-container{
        margin-top: 10px;
    }
    .two-container{
        flex-direction: column;
        gap: 30px;
    }
    .section-four-container-one{
        background-color:linear-gradient(0deg, rgba(251, 181, 99, 0.2), rgba(251, 181, 99, 0.2)),
        linear-gradient(0deg, rgba(251, 181, 99, 0.05), rgba(251, 181, 99, 0.05));;
        border:1px solid #FBB56333;
        width: 100%;
        height: 400px;
        border-radius: 20px;   
        line-height: 2;
        padding:30px;
        
    }
    
    .section-four-container-two{
        background-color:linear-gradient(0deg, rgba(41, 206, 246, 0.2), rgba(41, 206, 246, 0.2)),
        linear-gradient(0deg, rgba(41, 206, 246, 0.05), rgba(41, 206, 246, 0.05));;
        border:1px solid #29CEF633;
        width: 100%;
        height: 400px;
        border-radius: 20px;   
        line-height: 2;
        padding:30px;
    }
    
    .section-four-container-three {
        background-color: linear-gradient(0deg, rgba(251, 181, 99, 0.2), rgba(251, 181, 99, 0.2)),
                          linear-gradient(0deg, rgba(251, 181, 99, 0.05), rgba(251, 181, 99, 0.05));
        border: 1px solid #FBB56333;
        width: 100%;
        height: 400px;
        border-radius: 20px;   
        line-height: 1.2;
        padding:30px;
    }


    .section-five-text{
        text-align: center;
        padding: 10px 20px;
    }
    .section-five-one{
        background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
        justify-content:center;
        align-items: center;
        margin-top: 30px;
        padding: 5px;
    }
    .section-five-two{
        background: url(./B9A2-Hero-Travel-main/Images/Group\ 40.png);
        justify-content:center;
        align-items: center;
        margin-top: 30px;
        padding: 5px;
        }
        .section-five-three{
            background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);  
            justify-content:center;
            align-items: center;
            margin-top: 30px;
            padding: 5px;
            }
    
            .section-five-one-container {
                width:303px;
                height: 407px;
                border-radius: 16px;
                border: 1px solid #FFFFFF;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
                line-height: 2;
                padding: 10px 7px 10px 8px;
            }
            .section-five-one-container-logos{
                display: grid;
                grid-template-columns: 1fr 1fr ;
                grid-template-rows: 1fr 1fr;
                row-gap: 20px;
                column-gap: 20px;
            }
    
    
    .section-five-button{
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 2px 3px;
        background-color: orangered;
        color: aliceblue;
        font-size: 20px;
        margin-top: 5px;
    }

    .section-six{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-six-text{
        font-size: 16px;
        line-height: 2;
        padding-right: 10px;
    }
    
    .section-six-image img{
        width: 100%;
        height: auto;
    }
    .section-six-image{
        width: 100%;
    }
    
}